<h2>Привет, {{ name }}. Ваш личный кабинет пока пустой ))) </h2>
    Последние 5 посященных страниц сайта:
    <ul>
        {% for elem in uri %}
            <li>{{ elem }}</li>
        {% endfor %}
    </ul>

<a href="/">Выход</a>